# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# eclipse projects' files
.settings/
.classpath
.project

# ant folders
ant-build/
dist/

# idea project files
*.iml
.idea

# build directories

/knowage-core/target
/knowage/target
/knowagesdk/target
/knowagebirtreportengine/target
/knowage-cas2-sso-service/target
/knowage-ce-parent/target
/knowagecockpitengine/target
/knowagecommonjengine/target
/knowage-core/target
/knowagedao/target
/knowagedatabasescripts/target
/knowagedataminingengine/target
/knowagegeoreportengine/target
/knowagejasperreportengine/target
/knowagekpiengine/target
/knowagemeta/target
/knowagenetworkengine/target
/knowageoauth2securityprovider/target
/knowageqbeengine/target
/knowagesvgviewerengine/target
/knowagetalendenginclientapi/target
/knowagetalendengine/target
/knowageutils/target
/knowageutilsjson/target
/knowagewhatifengine/target
/qbecore/target
/slimerjs-wrapper/target
/spagobi.birt.oda/target
/spagobi-commons-core/target
/spagobi-cwm/target
/spagobi-metamodel-core/target
/spagobi-metamodel-utils/target
/jdbccore/target
